<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mysite.com{% endblock %}</title>
        <style type="text/css">
            body {margin: 50px;}
            header {margin: 20px; text-align: center; font-size: 20px}
            footer {margin: 20px; text-align: center; font-size: 15px;}
            header > a {text-decoration: none; font-weight: bold; color: #a55509;}
            main {width: 800px; margin: 15px auto; align-self:center}
            form > div {padding-bottom: 15px;}
            form > div > label {display: inline-block; width:120px;}
            button {display:block;margin: 15px 0px}
            .error{display:inline-block; color: red;}
        </style>
    </head>
    <body>
        <header>
            <a href="{{ path('app_home')}}">HOME</a> - 
            <a href="{{ path('app_member')}}">MEMBER</a> - 
            <a href="{{ path('app_welcome_user')}}">WELCOME MEMBER</a> - 
            <a href="{{ path('app_register')}}">REGISTER</a> - 
            <a href="{{ path('app_login')}}">LOGIN</a> - 
            <a href="{{ path('app_logout')}}">LOGOUT</a>
        </header>
        <hr/>
        <main>
        {% block body %}{% endblock %}
        </main>
        <hr/>
        <footer>
            Copyright &copy; VietVux 2022
        </footer>
    </body>
</html>
